.BuildControls {
  width: 100%;
  background-color: var(--color-buildcontrol-background);
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px var(--color-buildcontrol-shadow);
  margin: auto;
  padding: 10px 0;
}

.OrderButton {
  background-color: var(--color-order-button-background);
  outline: none;
  cursor: pointer;
  border: 1px solid var(--color-order-button-border);
  color: var(--color-order-button-text);
  font-family: inherit;
  font-size: 1.2em;
  padding: 15px 30px;
  box-shadow: 2px 2px 2px var(--color-order-button-shadow);
}

.OrderButton:hover,
.OrderButton:active {
  background-color: var(--color-order-button-background-hover);
  border: 1px solid var(--color-order-button-border-hover);
  color: var(--color-order-button-text-hover);
}

.OrderButton:disabled {
  background-color: var(--color-order-button-background-disabled);
  cursor: not-allowed;
  border: 1px solid var(--color-order-button-border-disabled);
  color: var(--color-order-button-text-disabled);
}

.OrderButton:not(:disabled) {
  animation: enable 0.3s linear;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
