.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid var(--color-buildcontrol-button-border);
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background-color: var(--color-buildcontrol-button-disabled-background);
  border: 1px solid var(--color-buildcontrol-button-disabled-border);
  color: var(--color-buildcontrol-button-disabled-text);
  cursor: default;
}

.BuildControl button:hover:disabled {
  background-color: var(--color-buildcontrol-button-hoverdisabled-background);
  color: var(--color-buildcontrol-button-disabled-text);
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {  
  background-color: var(--color-buildcontrol-less-background);
  color: var(--color-buildcontrol-less-text);
}

.BuildControl .More {
  background-color: var(--color-buildcontrol-more-background);
  color: var(--color-buildcontrol-more-text);
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
  background-color: var(--color-buildcontrol-less-active-background);
  color: var(--color-buildcontrol-less-active-text);
}

.BuildControl .More:hover,.BuildControl .More:active {
  background-color: var(--color-buildcontrol-more-active-background);
  color: var(--color-buildcontrol-more-active-text);
}