.Button {
  background-color: var(--color-button-background);
  border: none;
  color: var(--color-button-text);
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  color: var(--color-button-text-disabled);
  cursor: not-allowed;
}

.Success {
  color: var(--color-button-text-success);
}

.Danger {
  color: var(--color-button-text-danger);
}
