.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.InputElement {
  width: 100%;
  outline: none;
  border: 1px solid var(--color-input-border);
  background-color: var(--color-input-background);
  font: inherit;
  padding: 6px 10px;
  display: block;
  box-sizing: border-box;
}

.InputElement:focus {
  outline: none;
  background-color: var(--color-input-border);
}

.Invalid {
  border: 1px solid var(--color-input-invalid-border);
  background-color: var(--color-input-invalid-background);
}

.Invalid::placeholder {
  color: var(--color-input-text);
}
